/* 1. Les Polices en premier */
@import './fonts.css';

/* 2. Le moteur Tailwind (Uniquement ICI) */
@import "tailwindcss";

/* 3. Ton thème et tes variables personnalisées */
/* Au lieu d'importer theme.css, on peut mettre son contenu ici ou l'importer après */
@import './theme.css';

/* 4. Les animations à la fin */
@import "tw-animate-css";